<div class="signup-form">
	<div id="signup-errors">
		
	</div>
	<%= form_for @user, remote: true do |f| %>
	<div class="ui one column center aligned grid">
  		<div class="column six wide form-holder">
    		<h2 class="center aligned header form-head">Create account</h2>
    		<div class="ui form">
      			<div class="field">
					<div class="ui left icon large input">
						<%= f.text_field :name, placeholder: "#{t('activerecord.attributes.user.name')}" %>
						<i class="user icon"></i>
					</div>
				</div>
				<div class="field">
					<div class="ui left icon large input">
						<%= f.text_field :email, placeholder: "#{t('activerecord.attributes.user.email')}" %>
						<i class="mail icon"></i>
					</div>
				</div>
				<div class="field">
					<div class="ui left icon large input">
						<%= f.password_field :password, placeholder: "#{t('activerecord.attributes.user.password')}" %>
						<i class="lock icon"></i>
					</div>
				</div>
				<div class="field">
					<div class="ui left icon large input">
						<%= f.password_field :password_confirmation, placeholder: "#{t('activerecord.attributes.user.password_confirmation')}" %>
						<i class="lock icon"></i>
					</div>
				</div>
				<%= f.submit "#{t('users.signup')}", class: "ui fluid green large button", data: { disable_with: "#{t('form.submitting')}" } %>
			</div>
		</div>
	</div>
	<% end %>
</div>